
body {
    margin: 0 auto;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.4rem;
    background-color: #f8f5f1;
}

.top-cloud {
    position: absolute;
    left: 1100px;
    top: 35px;
}

.bottom-cloud {
    position: absolute;
}

.skill-1 {
    width: 25%;
    float: left;
    margin-right: 40px;
}

.skill-2 {
    width: 35%;
    float: right;
    margin-left: 20px;
}

.top-container {
    background-color: #d8f5f1;
    position: relative;
    padding-top: 100px;
}

h1 {
    color: #e9896a;
    font-size: 3rem;
    margin: 50px auto 0 auto;
    font-family: 'Press Start 2P', cursive;
        
}

h2 {
    color: #e9896a;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
}

h3 {
    color: #387c6d;
    font-family: 'Press Start 2P', cursive;
}

hr {
    border-style: dotted none none;
    width: 5%;
    border-width: 8px;
    border-color: #343f56;
           
  }

.profile-pic {
    border-radius: 50%;
    margin-top: 20px;
}

#description {
    color: #387c6d;
    font-weight: normal;
}

a {
    color: #FFFFFF;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.web {
    text-decoration: underline;
    
}

.bottom-container {
    background-color: #387c6d;
    position: relative;
    padding: 50px;
}

.contact-me {
    padding: 20px;
}

.btn {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: Courier New;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    background-color: #387C6D;
    -webkit-box-shadow: 1px 1px 10px 0 #000000;
    -moz-box-shadow: 1px 1px 10px 0 #000000;
    box-shadow: 1px 1px 10px 0 #000000;
    text-shadow: 0 1px 5px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 20px;
 }
 
 .btn:hover {
    background: #343F56;
    border: solid #337FED 0;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-decoration: none;
 }